*
!.gitignore

!VanillaCharacter/
!VanillaCharacter/**
!VanillaCharacterFemale/
!VanillaCharacterFemale/**

!VanillaFace/
!VanillaFace/**
!VanillaFaceFemale/
!VanillaFaceFemale/**

# !YiGuCharacterFemale/
# !YiGuCharacterFemale/**

# !YiGuFaceFemale/
# !YiGuFaceFemale/**

!README.md
!attachments/
!attachments/**

!ShokuhoFemalePresets/
!ShokuhoFemalePresets/**
